* {
	font-size: 20px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eeefd8;
	margin: 40px;
}

.page-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    justify-content: center;
    padding: 40px;
    margin: 0 auto 40px auto;
    box-sizing: border-box;
}

.gallery img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}